html {
  /* To make use of full height of page*/
  min-height: 100%;
  margin: 0;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  margin: 0;
  background-image: url("../assets/images/CyberBackGround.jpg");
  background-size: 100% 100%;
  font-family: 'Serif';
  overflow-x: hidden;
}

.navbar-custom {
  background-color: black;
  margin: 0px !important;
  padding: 0px !important;
  height: 50px;
}

/* Add a color to the active/current link */
a.actual {
  background-color: black;
  color: white;
  font-family: "sans-serif";
  text-decoration: none;
}

a.actual:hover {
  text-decoration: none;
  color: white;
}

a.deactive {
  background-color: yellow;
}

a.deactive:hover {
  background-color: #c5c500;
}

.d-flex a {
  padding: 10px 20px;
}

.main {
  display: flex;
  flex-direction: column;
  height: 80vh;
  /* Ajusta la altura al 100% de la altura de la ventana del navegador */
}

.invrow {
  flex-grow: 1;
  /* Permite que los elementos crezcan para ocupar cualquier espacio extra */
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.matcontainer {
  flex: 1;
  box-sizing: border-box;
  border-radius: 10px;
  border: black;
  background-color: #f6e837;
  margin: 25px;
  opacity: 0.85;
  transition: opacity 0.25s;
  padding: 0 0 30px 0;
}

.matcontainer:hover {
  opacity: 1;
}

.matcontainerINV {
  flex: 1;
  margin: 25px 25px 0 25px;
  max-width: 35%;
}


:root {
  --class-black: #000000;
  --class-purple: #c330b2;
  --class-dark-black: #0f0f0f;
}

.titlemat {
  background-color: var(--class-black);
  border-radius: 10px 10px 0 0;
  padding: 15px;
  color: white;
  display: flex;
  align-items: center;
  word-spacing: 5px;
  white-space: pre;
}

.titlemat strong {
  font-size: 20px;
}

.textmat {
  padding: 10px 0 10px 15px;
}

.textmat a {
  line-height: 40px;
  text-decoration: none;
  margin: 0 10px 0 0;
}

.textmat a:hover {
  text-decoration: underline;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
}

.infobox {
  color: white;
  background-color: var(--class-purple);
  border-radius: 10px;
  padding: 5px;
  margin: 0px;
  font-size: 0.6em;
  position: relative;
  white-space: nowrap;
}

nav {
  position: fixed;
  top: 0px;
}

.container-fluid.custom-container {
  background-color: var(--class-dark-black);
}

.list-group-mine .list-group-item {
  background-color: var(--class-dark-black);
  color: white;
  vertical-align: middle;
  display: flex;
  align-items: center;
  border: none;
}

li {
  margin: 10px 0;
}


* {
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
}
