* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300;
}

.d-flex a {
  padding: 10px 20px;
}

.site-section {
  flex: 1;
  padding: 3em 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3,
h4,
p {
  color: black;
}

.custom-container {
  border-radius: 10px;
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

.custom-container-gray {
  border-radius: 10px;
  padding: 20px;
  background-color: #f0f2f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

footer {
  background-color: #343a40;
  color: white;
  padding: 1em 0;
}

.idioma-img {
  width: 50px;
  /* Tamaño de la imagen */
  height: 50px;
  /* Tamaño de la imagen */
  object-fit: cover;
  /* Ajusta el tamaño manteniendo la proporción */
  margin-top: 10px;
  /* Ajusta el espacio entre la imagen y el texto */
  margin-right: 10px;
  /* Ajusta el espacio entre la imagen y el borde derecho de la tarjeta */
}

.card-body {
  flex: 1;
  /* Hace que el cuerpo de la tarjeta ocupe el espacio disponible */
}

.card {
  position: relative;
  /* Para posicionar el texto y la imagen relativamente */
}

.card-title {
  margin-bottom: 0;
  /* Elimina el espacio inferior del título */
}

/* Agregamos un suave sombreado y redondeo a las columnas */
.col-lg-6 {
  transition: width 0.5s ease, box-shadow 0.5s ease, border-radius 0.5s ease;
  border-radius: 10px;
}

/* Definimos el sombreado */
.col-lg-6.shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.scroll-container {
  overflow-x: auto;
}