html {
  /* To make use of full height of page*/
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100%;
  margin: 0;
  background-image: url("../assets/images/CyberBackGround.jpg");
  background-size: 100% 100%;
  font-family: 'Roboto';
}

.navbar-custom {
  background-color: black;
  margin: 0px !important;
  padding: 0px !important;
  height: 50px;
}

/* Add a color to the active/current link */
a.actual {
  background-color: black;
  color: white;
  font-family: "Roboto";
  text-decoration: none;
}

a.actual:hover{
  text-decoration: none;
  color: white;
}

a.deactive {
  background-color: yellow;
}

a.deactive:hover{
  background-color: #c5c500;
}

.d-flex a {
  padding: 10px 20px;
}