

/*TOP VAR*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index : 10000;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: red;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  color: white;
}
.topnav a.deactive {
  background-color: #f6e837;
  color: white;
}

.matcontainer {
  border-radius: 10px;
  border: black;
  padding: 10px;
  background-color: #f6e837;
  margin: 25px 5% 0 5%;
  opacity: 0.7;
  transition: opacity 0.5s;
}
.matcontainer:hover{
  opacity: 1;
}
html {
  /* To make use of full height of page*/
  min-height: 100%;
  margin: 0;
}
body {
  min-height: 100%;
  margin: 0;
  background-image: url("../assets/images/CyberBackGround.jpg");
  background-size: 100% 100%;
  padding-top: 60px;
}